.feeds-wrapper {
    padding: 5rem;
}
.feeds-description {
    display: flex;
    justify-content: space-between;
}
.feeds-description img {
    height: 150px;
    width: 200px;
}
.feeds-description p {
    margin-right: 2rem;
}
.feeds-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.feeds-article {
    margin-bottom: 3rem;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 7px #888888;
}
.feeds-article:hover {
    cursor: pointer;
}
.search-wrapper {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}
.feed-details-wrapper {
    padding: 5rem;
}
.feed-details-wrapper img {
    height: 100%;
    width: 100%;
}